[package]
name = "libp2p-community-tor"
version = "0.3.0-alpha"
edition = "2021"
license = "MIT"
resolver = "2"
description = "Tor transport for libp2p."
repository = "https://github.com/umgefahren/libp2p-tor"
authors = ["umgefahren <hannes@umgefahren.xyz>"]

[dependencies]
arti-client = { version = "0.9", default-features = false }
async-std-crate = { package = "async-std", version = "1", optional = true, default-features = false }
futures = "0.3"
libp2p-core = { version = "0.39" }
thiserror = "1"
tokio-crate = { package = "tokio", version = "1", optional = true, default-features = false }
tor-rtcompat = "0.8"

[dev-dependencies]
libp2p = { version = "0.51", features = ["mplex", "noise", "ping", "yamux", "macros", "async-std"] }
tokio-crate = { package = "tokio", version = "1", features = ["rt", "macros"] }
async-std-crate = { package = "async-std", version = "1", features = ["attributes"] }

[features]
tokio = ["arti-client/tokio", "dep:tokio-crate"]
async-std = ["arti-client/async-std", "dep:async-std-crate"]
native-tls = ["arti-client/native-tls"]
rustls = ["arti-client/rustls"]

[[example]]
name = "ping-onion"
required-features = ["async-std", "rustls"]

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]
all-features = true
